.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container{
  width: 80vw;
  margin-left: 8vw;
  border: 1px solid black;
  /* background-color: #ff742b; */
}

.search-page-header{
  display: flex;
  padding: 5px;
  background-color: #ff742b;
  align-items: center;
}
.search-icon{
  padding: 5px;
  margin-right: 8px;
  font-size: 30px;
}

.search-heading{
  padding: 2px;
  margin-right: 8px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

.filter-bar{
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  display: flex;
}

.filter-bar p{
  font-size: medium;
  margin-top: 15px;
}

.list-icon{
  font-size: 5px;
}

.Home-Search{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-Search-Bar{
  font-size: 'medium';
  margin: 5px;
  height: 40px;
  color: black;
  background-color: white;
}

.home-search-icon{
  font-size: 28px;
  margin: 2px;
  padding: 1px;
  margin-top: 4px;
  color: black;
}

.select-labels{
  min-width: 120;
}

.head-icon{
  padding: 5px;
  margin-right: 8px;
  font-size: 30px;
  border: 3px solid black;
}

.home-head-icon{
  padding: 5px;
  margin-top: 6px;
  margin-left: 2px;
  font-size: 22px;
  display: inline;
  border: 3px solid black;
}

@media (max-width: 768px) {
  .home-container{
    width: 100vw;
    margin-left: 0;
    border: 0px solid black;
  }
  .display-none{
    display: none;
  }
  .select-labels{
    width: 30%;
  }
}